/* Modern People Brand Colors 
   from "Modern People Brand Deck.pdf"
*/

/* sRGB color. */
:root {
    /* Grays */
    --bg: white;
    --fg: black;
    --light-bg: hsl(0, 0%, 92%);
    --medium-bg: hsl(0, 0%, 62%);
    --heavy-bg: hsl(0, 0%, 32%);

    /* Brand colors */
    --international-orange: rgb(255, 79, 0); /* #ff4f00 */
    --black-bean: rgb(68, 0, 0); /* #444444 */
    --arctic-lime: rgb(217, 255, 69); /* #d9ff45 */
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
    :root {
        --international-orange: color(display-p3 1 0.31 0);
        --black-bean: color(display-p3 0.25 0 0);
        --arctic-lime: color(display-p3 0.85 1 0.27);
    }
}

/* Dark color scheme support */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(0, 0%, 6%);
        --fg: white;
        --light-bg: hsl(0, 0%, 12%);
        --medium-bg: hsl(0, 0%, 38%);
        --heavy-bg: hsl(0, 0%, 64%);
    }
}