@font-face {
	font-family: NeueMachinaInktrap;
	src: 
        url(/fonts/PPNeueMachina-InktrapRegular.woff2) format("woff2"),
        url(/fonts/PPNeueMachina-InktrapRegular.woff) format("woff"),
        url(/fonts/PPNeueMachina-InktrapRegular.otf) format("opentype"),
        url(/fonts/PPNeueMachina-InktrapRegular.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}

body {
    font-family: NeueMachinaInktrap, system-ui, sans-serif;

    color: var(--fg);
    background-color: var(--bg);
    line-height: 1.1;
    --padding: clamp(1rem, 4vw,2rem);
}


picture img {
  display: block;
  
  object-fit: contain !important;
  background-size: contain !important;

  object-position: top !important;
  background-position: top !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    /* color: var(--black-bean); */
}

p {
    margin: 1em 0;
}

.primary, .secondary {
    max-width: 30ch;
    font-size: clamp(16px, 4vmin, 48px);
}

.secondary {
    font-size: clamp(14px, 3.5vmin, 40px);;
}

ol {
    list-style: none;
    padding: 0;
}
li {
    display: inline;
}

button.svg-button {
    border: none;
    background: none;
    padding: 0;
}

.images.two-column {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
/* 
section .hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.outline {
    border: 1px solid var(--light-bg);
}

@media (min-width: 480px) {
    .images.two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
    }
    .images.two-column > * {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .images.two-column .span-2 {
        grid-column: span 2;
    }
}
